<section>
	<h2>Social Media Analysis</h2>
	<p>Demo web app that shows how social media content can be analysed
		using Twitter Search API as an example.</p>
	<p>Built using:</p>
	<ul>
		<li><a href="http://projects.spring.io/spring-boot">Spring
				Boot</a></li>
		<li><a href="http://projects.spring.io/spring-social">Spring
				Social</a></li>
		<li><a href="http://swagger.io">Swagger</a></li>
		<li><a href="http://www.angularjs.org">AngularJS</a></li>
		<li><a href="http://www.chartjs.org">Chart.JS</a></li>
		<li><a href="http://jtblin.github.io/angular-chart.js">Angular
				Chart</a></li>
		<li><a href="http://mistic100.github.io/jQCloud">jQCloud</a></li>

	</ul>
</section>
