<section>
	<h2>Sentiment Analysis</h2>
</section>

<div class="row">
	<div class="col-lg-4">
		<div class="input-group">
			<input type="text" class="form-control"
				placeholder="Search Twitter for..." ng-model="searchKeyword" ng-keyup="$event.keyCode == 13 && performSentimentAnalysis()"> 
				<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="performSentimentAnalysis()">Go!</button>
			</span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<canvas id="pie" class="chart chart-pie" data="sentimentAnalysisResultsValues" labels="sentimentAnalysisResultsLabels" colours="['#66ff66','#ff3333','#E0E0E0']"></canvas>
	</div>
</div>
