<section>
	<h2>Tagcloud</h2>
</section>

<div class="row">
	<div class="col-lg-4">
		<div class="input-group">
			<input type="text" class="form-control"
				placeholder="Search Twitter for..." ng-model="searchKeyword" ng-keyup="$event.keyCode == 13 && calculateWordFrequencies()">
				<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="calculateWordFrequencies()">Go!</button>
			</span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<jqcloud id="tagcloud" words="tagcloudModel" width="400" height="250" steps="20"></jqcloud>
	</div>
</div>